@layer components {
  .home_sidebar_container {
    .nav_link {
      @apply z-10 flex cursor-pointer 
      flex-row items-center  gap-2
      rounded-2xl p-4
      hover:bg-primary hover:text-background1;
      img {
        @apply h-7 group-hover:brightness-[98%]
       group-hover:contrast-[94%] 
       group-hover:hue-rotate-[196deg] 
       group-hover:invert-[6%] 
       group-hover:saturate-[2819%] 
       group-hover:sepia-[12%];
      }
    }
  }
}
